* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #EDF3F8;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 730px 730px;
}